<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Pelicula
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Buscar Pelicula" animated inputmode="decimal"
    type="decimal" [value]="textoBuscar" (ionChange)="buscar($event)" [debounce]="700" showCancelButton="always">
    </ion-searchbar>
  </ion-toolbar>


</ion-header>




<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col text-center>
        <ion-spinner name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="movies.length === 0">
    <ion-list-header>
      <ion-label>Ideas</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let idea of ideas">
      <ion-label (click)="getIdea(idea)" color="primary" >{{ idea }}</ion-label>
    </ion-item>

  </ion-list>


  <ion-grid fixed>
    <ion-row>

      <ion-col *ngFor="let movie of movies" size="6">
        <ion-card>
          <img [src]="movie.poster_path | imgResp" alt="">

          <ion-card-header>
            <ion-card-subtitle>{{ (movie.release_date) ? movie.release_date : 'Sin fecha' }}</ion-card-subtitle>
            <ion-card-title>{{ movie.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>


</ion-content>
