<<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>



</ion-header>

<ion-content [fullscreen]="true">



  <div *ngFor="let gen of genres" >
        <ion-grid fixed>
          <ion-row>
            <ion-col   size="12">
                  <h4> {{ gen.name }} </h4>
            </ion-col>
          </ion-row>
        </ion-grid>
<app-slideshow-backdrop [listMovies]="movies" ></app-slideshow-backdrop>
  </div>






  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
